<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost/WcfService1/UserService.svc/UserService"
          binding="netTcpBinding" contract="Service.Interface.IUser" name="UserService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>